﻿@model Open.Logic.RoleClasses.RoleTypeViewModel

@{
    ViewBag.Title = "Remove Role Type";
}

<h2>Do you want to delete Role type?</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.UniqueId) </dt>
        <dd> @Html.DisplayFor(model => model.UniqueId) </dd>
        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Description) </dt>
        <dd> @Html.DisplayFor(model => model.Description) </dd>
        <dt> @Html.DisplayNameFor(model => model.IsActive) </dt>
        <dd> @Html.CheckBoxFor(model => model.IsActive, new {disabled = "disabled"}) </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Yes" class="btn btn-default"/>  | 
            @Html.ActionLink("No", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</p>