﻿@model Open.Logic.RoleClasses.RoleTypeViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Role Type details</h2>

<div>
    <hr/>
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.UniqueId) </dt>
        <dd> @Html.DisplayFor(model => model.UniqueId) </dd>
        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Description) </dt>
        <dd> @Html.DisplayFor(model => model.Description) </dd>
        <dt> @Html.DisplayNameFor(model => model.IsActive) </dt>
        <dd> @Html.CheckBoxFor(model => model.IsActive, new {disabled = "disabled"}) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {id = Model.UniqueId}) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.UniqueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>