﻿@model IEnumerable<Open.Logic.RoleClasses.RoleTypeViewModel>

@{
    ViewBag.Title = "Role Types";
}

<h2>Role Types</h2>
<br/>
<div>
    @Html.ActionLink("Create", "Create", null, new {@class = "btn btn-default"})
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniqueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new {id = item.UniqueId}) |
                @Html.ActionLink("Details", "Details", new {id = item.UniqueId}) |
                @Html.ActionLink("Delete", "Delete", new {id = item.UniqueId})
            </td>
        </tr>
    }
</table>