﻿@model Open.Logic.RoleClasses.RoleViewModel

@{
    ViewBag.Title = "Remove Role";
}

<h2>Do you want to delete Role?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt></dt>
        <dd></dd>
        <dt> @Html.DisplayNameFor(model => model.UniqueId) </dt>
        <dd> @Html.DisplayFor(model => model.UniqueId) </dd>
        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Type) </dt>
        <dd> @Html.DisplayFor(model => model.Type) </dd>
        <dt> @Html.DisplayNameFor(model => model.Description) </dt>
        <dd> @Html.DisplayFor(model => model.Description) </dd>
        <dt> @Html.DisplayNameFor(model => model.IsActive) </dt>
        <dd> @Html.CheckBoxFor(model => model.IsActive, new { disabled = "disabled" }) </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color" style="width: 50%">
            <input type="submit" value="Yes" class="btn btn-default" />  |  
            @Html.ActionLink("No", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</p>