﻿@model Open.Logic.ContactClasses.ContactViewModel
@{
    ViewBag.Title = "Delete";
}
<h2>Party @Html.DisplayFor(model => model.Type) Contact</h2>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt> </dt>
        <dd> </dd>
        <dt> @Html.DisplayNameFor(model => model.Content) </dt>
        <dd> @Html.DisplayFor(model => model.Content) </dd>
        <dt> @Html.DisplayNameFor(model => model.Usages) </dt>
        <dd> @Html.DisplayFor(model => model.Usages) </dd>
        <dt> @Html.DisplayNameFor(model => model.ValidFrom) </dt>
        <dd> @Html.DisplayFor(model => model.ValidFrom) </dd>
        <dt> @Html.DisplayNameFor(model => model.ValidTo) </dt>
        <dd> @Html.DisplayFor(model => model.ValidTo) </dd>
    </dl>
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
