﻿@using Open.Archetypes.ContactClasses
@model AddressUsage
@{ ViewBag.Title = "Details"; }
<h2>Party @Model.Address.GetType().Name Contact</h2>
<div>
    <h4>Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt></dt>
        <dd></dd>
        @if (Model.Address is WebAddress) {
            <dt> @Html.DisplayNameFor(model => (model.Address as WebAddress).Url) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as WebAddress).Url) </dd>
        } else if (Model.Address is EmailAddress) {
            <dt> @Html.DisplayNameFor(model => (model.Address as EmailAddress).Address) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as EmailAddress).Address) </dd>
        } else if (Model.Address is Phone) {
            <dt> @Html.DisplayNameFor(model => (model.Address as Phone).CountryCode) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Phone).CountryCode) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Phone).DirectDialingPrefix) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Phone).DirectDialingPrefix) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Phone).AreaCode) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Phone).AreaCode) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Phone).Number) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Phone).Number) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Phone).Extension) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Phone).Extension) </dd>
        } else if (Model.Address is Address) {
            <dt> @Html.DisplayNameFor(model => model.Address) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Address).AddressLines.Content) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Address).ZipCode) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Address).ZipCode) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Address).Location) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Address).Location) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Address).Region) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Address).Region) </dd>
            <dt> @Html.DisplayNameFor(model => (model.Address as Address).Country) </dt>
            <dd> @Html.DisplayFor(model => (model.Address as Address).Country.Name) </dd>
        }
        <dt> @Html.DisplayNameFor(model => model.Uses) </dt>
        <dd> @Html.DisplayFor(model => model.Uses.Content) </dd>
        <dt> @Html.DisplayNameFor(model => model.Valid.From) </dt>
        <dd> @Html.DisplayFor(model => model.Valid.From) </dd>
        <dt> @Html.DisplayNameFor(model => model.Valid.To) </dt>
        <dd> @Html.DisplayFor(model => model.Valid.To) </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniqueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
