﻿@model IEnumerable<Open.Logic.ContactClasses.ContactViewModel>
@{
    ViewBag.Title = "Party Contacts";
}

<h2>Party Contacts</h2>

<p>
    Create New 
    @Html.ActionLink("Address", "CreateAddress") |
    @Html.ActionLink("Web", "CreateWeb") |
    @Html.ActionLink("Email", "CreateEmail") |
    @Html.ActionLink("Phone", "CreatePhone")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Content)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Usages)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidFrom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ValidTo)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Content)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Usages)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidFrom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ValidTo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UniqueId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UniqueId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UniqueId })
            </td>
        </tr>
    }

</table>
