﻿@model Open.Logic.RoleClasses.PersonViewModel

@{
    ViewBag.Title = "Remove person";
}

<h2>Do you want to delete @Html.DisplayNameFor(model => model.Name) @Html.DisplayNameFor(model => model.Surname)?</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.UniqueId) </dt>
        <dd> @Html.DisplayFor(model => model.UniqueId) </dd>
        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Surname) </dt>
        <dd> @Html.DisplayFor(model => model.Surname) </dd>
        <dt> @Html.DisplayNameFor(model => model.DateOfBirth) </dt>
        <dd> @Html.DisplayFor(model => model.DateOfBirth) </dd>
        <dt> @Html.DisplayNameFor(model => model.RegistrationDate) </dt>
        <dd> @Html.DisplayFor(model => model.RegistrationDate) </dd>
        <dt> @Html.DisplayNameFor(model => model.Roles) </dt>
        <dd> @foreach (var role in Model.Roles) {
                 @Html.DisplayFor(name => role.Name)
                 <br/>
             }
         </dd>
    </dl>
</div>
<p>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div style="width: 50%">
            <input type="submit" value="Yes" class="btn btn-default" />  |
            @Html.ActionLink("No", "Index", null, new { @class = "btn btn-default" })
        </div>
    }
</p>