﻿@model Open.Logic.RoleClasses.PersonViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Person details</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt> @Html.DisplayNameFor(model => model.UniqueId) </dt>
        <dd> @Html.DisplayFor(model => model.UniqueId) </dd>
        <dt> @Html.DisplayNameFor(model => model.Name) </dt>
        <dd> @Html.DisplayFor(model => model.Name) </dd>
        <dt> @Html.DisplayNameFor(model => model.Surname) </dt>
        <dd> @Html.DisplayFor(model => model.Surname) </dd>
        <dt> @Html.DisplayNameFor(model => model.DateOfBirth) </dt>
        <dd> @Html.DisplayFor(model => model.DateOfBirth) </dd>
        <dt> @Html.DisplayNameFor(model => model.RegistrationDate) </dt>
        <dd> @Html.DisplayFor(model => model.RegistrationDate) </dd>
        <dt> @Html.DisplayNameFor(model => model.Roles) </dt>
        <dd> @foreach (var role in Model.Roles) {
                 @Html.DisplayFor(name => role.Name)
                 <br/>
             }
        </dd>
        @*<dt> @Html.DisplayNameFor(model => model.IsActive) </dt>
        <dd> @Html.CheckBoxFor(model => model.IsActive, new { disabled = "disabled" }) </dd>*@
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.UniqueId }) |
    @Html.ActionLink("Delete", "Delete", new { id = Model.UniqueId }) |
    @Html.ActionLink("Back to List", "Index")
</p>