﻿@model Open.Logic.RoleClasses.PersonEditModel

@{
    ViewBag.Title = "Edit person";
}

<h2>Edit person details</h2>

@using (Html.BeginForm("Edit", "People", new {ID = Model.UniqueId}, FormMethod.Post)) {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        @Html.HiddenFor(model => model.UniqueId)
        <div class="form-group">
            @Html.LabelFor(model => model.UniqueId, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DisplayFor(model => model.UniqueId, new {htmlAttributes = new {@class = "form-control"}})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Name, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Name, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.Surname, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Surname, new {htmlAttributes = new {@class = "form-control"}})
                @Html.ValidationMessageFor(model => model.Surname, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.DateOfBirth, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateOfBirth, new {htmlAttributes = new {@class = "form-control", text = Model.DateOfBirth}})
                @Html.ValidationMessageFor(model => model.DateOfBirth, "", new {@class = "text-danger"})
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.PartyRoles, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @foreach (var role in Model.PartyRoles)
                {
                    <span style="padding-right: 1em">@Html.DisplayFor(name => role.Name)</span>
                    @Html.ActionLink("Remove", "RemoveRole", new {id = Model.UniqueId, roleId = role.UniqueId})
                    <br/>
                }
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.AvailableRoles, new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @if (Model.AvailableRoles.Any()) {
                    @Html.ListBoxFor(model => model.NewRoles, Model.AvailableRoles, new {htmlAttributes = new {@class = "form-control"}})
                    @Html.ValidationMessage("PartyRolesError", new {@class = "text-danger"})
                } else {
                    <div>No active roles</div>
                }
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Back to List", "Index")
</p>