﻿@model IEnumerable<Open.Logic.RoleClasses.PersonViewModel>

@{
    ViewBag.Title = "People";
}

<h2>People</h2>
<br />
<div>
    <span>
        @Html.ActionLink("Create", "Create", null, new { @class = "btn btn-default" })
    </span>
    <span>
        @Html.ActionLink("Update data", "Refresh", null, new { @class = "btn btn-default" })
    </span>
</div>
<br />
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UniqueId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Surname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RegistrationDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Roles)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UniqueId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Surname)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfBirth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RegistrationDate)
            </td>
            <td>
               @foreach (var role in item.Roles) {
                   @Html.DisplayFor(name => role.Name)
                   <br/>
               }
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.UniqueId }) |
                @Html.ActionLink("Details", "Details", new { id = item.UniqueId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.UniqueId })
            </td>
        </tr>
    }
</table>
